In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
accidents_df = pd.read_csv("../Resources/accident_2021_csv.csv", encoding="latin-1")
accidents_df.head()

,STATE,STATENAME,ST_CASE,PEDS,PERNOTMVIT,VE_TOTAL,VE_FORMS,PVH_INVL,PERSONS,PERMVIT,...,NOT_MINNAME,ARR_HOUR,ARR_HOURNAME,ARR_MIN,ARR_MINNAME,HOSP_HR,HOSP_HRNAME,HOSP_MN,HOSP_MNNAME,FATALS
0,1,Alabama,10001,0,0,2,2,0,3,3,...,13,22,10:00pm-10:59pm,25,25,23,11:00pm-11:59pm,2,2,2
1,1,Alabama,10002,0,0,1,1,0,2,2,...,Unknown,19,7:00pm-7:59pm,9,9,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),2
2,1,Alabama,10003,1,1,1,1,0,1,1,...,29,9,9:00am-9:59am,40,40,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),1
3,1,Alabama,10004,0,0,1,1,0,1,1,...,20,16,4:00pm-4:59pm,28,28,99,Unknown,99,Unknown EMS Hospital Arrival Time,1
4,1,Alabama,10005,0,0,2,2,0,4,4,...,20,22,10:00pm-10:59pm,30,30,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),1

In [3]:
database_path = ("../SQLiteDatabase/Accidents_2021.db")
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [4]:
accidents_df.to_sql("Accidents", conn, schema=None, if_exists='replace', index=False, index_label=None, chunksize=None, dtype=None, method=None)

39508

In [6]:
states = accidents_df["STATENAME"].unique()
print(states)

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']

In [8]:
weather_conditions = accidents_df["WEATHERNAME"].unique()
print(weather_conditions)

['Rain' 'Clear' 'Cloudy' 'Fog, Smog, Smoke' 'Reported as Unknown'
 'Severe Crosswinds' 'Snow' 'Not Reported' 'Freezing Rain or Drizzle'
 'Other' 'Blowing Sand, Soil, Dirt' 'Blowing Snow' 'Sleet or Hail']

In [10]:
lighting_conditions = accidents_df["LGT_CONDNAME"].unique()
print(lighting_conditions)

['Dark - Not Lighted' 'Daylight' 'Dark - Lighted' 'Dawn' 'Dusk'
 'Dark - Unknown Lighting' 'Reported as Unknown' 'Not Reported' 'Other']

In [16]:
with open("../Resources/unique_data_value.txt", "a") as f:
    print("Unique State Names:", file=f)
    print(states, file=f)
    print("-----------------------------", file=f)
    print("Unique Weather Conditions:", file=f)
    print(weather_conditions, file=f)
    print("-----------------------------", file=f)
    print("Unique Lighting Conditions:", file=f)
    print(lighting_conditions, file=f)