In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
population_df = pd.read_csv("../Resources/NST-EST2021-alldata.csv", encoding="latin-1")
population_df.head(10)

,SUMLEV,REGION,DIVISION,STATE,NAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,NPOPCHG_2020,NPOPCHG_2021,...,NETMIG2020,NETMIG2021,RESIDUAL2020,RESIDUAL2021,RBIRTH2021,RDEATH2021,RNATURALINC2021,RINTERNATIONALMIG2021,RDOMESTICMIG2021,RNETMIG2021
0,10,0,0,0,United States,331449281,331501080,331893745,51799,392665,...,12247,244622,0,0,10.798957,10.352637,0.446319,0.737485,0.000000,0.737485
1,20,1,0,0,Northeast Region,57609148,57525633,57159838,-83515,-365795,...,-79429,-333592,-1024,-1151,9.950554,10.492070,-0.541516,0.977386,-6.794897,-5.817511
2,20,2,0,0,Midwest Region,68985454,68935174,68841444,-50280,-93730,...,-47266,-85268,-718,5156,10.860566,11.058248,-0.197682,0.549222,-1.786994,-1.237772
3,20,3,0,0,South Region,126266107,126409007,127225329,142900,816322,...,134454,770076,528,-3385,11.168835,10.777476,0.391359,0.886268,5.186064,6.072332
4,20,4,0,0,West Region,78588572,78631266,78667134,42694,35868,...,4488,-106594,1214,-620,10.767153,8.947910,1.819243,0.487570,-1.842880,-1.355309
5,40,3,6,1,Alabama,5024279,5024803,5039877,524,15074,...,3337,23380,-75,242,11.191613,12.890226,-1.698613,0.247201,4.398749,4.645950
6,40,4,9,2,Alaska,733391,732441,732673,-950,232,...,-2012,-3353,39,-54,12.667956,7.700425,4.967532,0.718033,-5.295151,-4.577118
7,40,4,8,4,Arizona,7151502,7177986,7276316,26484,98330,...,26791,97504,-3,-6,10.584669,10.469547,0.115121,0.619608,12.871739,13.491347
8,40,3,7,5,Arkansas,3011524,3012232,3025891,708,13659,...,1618,16840,-15,55,11.599962,12.671819,-1.071856,0.272932,5.304960,5.577892
9,40,4,9,6,California,39538223,39499738,39237836,-38485,-261902,...,-62562,-352960,858,-938,10.778412,8.441637,2.336775,0.364223,-9.329701,-8.965478

In [3]:
database_path = ("../SQLiteDatabase/Accidents_2021.db")
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [4]:
population_df.to_sql("population", conn, schema=None, if_exists='append', index=False, index_label=None, chunksize=None, dtype=None, method=None)

57